<div class="xc-product__info">
    <h1 class="xc-product__info-title h3">{{ product.title }}</h1>
    <div class="xc-product__info-price">
        <span class="xc-product__info-price-box">{{ product.price | money_without_trailing_zeros }}</span>
        {% if product.metafields.custom.vin != blank %}
            <span class="xc-product__info-price-vin"><span>VIN:</span> {{product.metafields.custom.vin}}</span>
        {% endif %}
    </div>
    <hr>
    <div class="xc-product__info-features">
        <div class="pc__info">
            {% if product.metafields.custom.fuel != blank %}
                <div class="pc__info-item" title="Топліво">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <mask id="mask0_491_357" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="3" width="11" height="14">
                            <path d="M14.9993 3.3335H4.16602V16.6668H14.9993V3.3335Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_491_357)">
                            <path d="M14.8079 5.08154L13.7359 3.97042C13.6313 3.8619 13.4616 3.8619 13.3569 3.97042C13.2523 4.07894 13.2523 4.25472 13.3569 4.3632L14.2395 5.27792L13.3569 6.19263C13.3067 6.24472 13.2784 6.31524 13.2784 6.38904V7.22236C13.2784 7.83518 13.7592 8.33349 14.3505 8.33349V13.0557C14.3505 13.2089 14.2303 13.3335 14.0824 13.3335C13.9346 13.3335 13.8144 13.209 13.8144 13.0557V12.5002C13.8144 12.0406 13.4538 11.6668 13.0104 11.6668H12.7424V4.44461C12.7424 3.8318 12.2616 3.3335 11.6703 3.3335H6.31013C5.71888 3.3335 5.23807 3.8318 5.23807 4.44461V14.4446C4.64683 14.4446 4.16602 14.9429 4.16602 15.5557V16.3891C4.16602 16.5426 4.28589 16.6668 4.43403 16.6668H13.5464C13.6946 16.6668 13.8144 16.5426 13.8144 16.3891V15.5557C13.8144 14.9429 13.3337 14.4446 12.7424 14.4446V12.2224H13.0104C13.1583 12.2224 13.2784 12.3469 13.2784 12.5002V13.0557C13.2784 13.5152 13.6391 13.8891 14.0825 13.8891C14.5258 13.8891 14.8865 13.5152 14.8865 13.0557V5.27795C14.8865 5.20414 14.8583 5.13362 14.8079 5.08154ZM11.6703 8.06085C11.6703 8.2144 11.5505 8.33866 11.4023 8.33866H6.57812C6.42998 8.33866 6.3101 8.2144 6.3101 8.06085V4.72237C6.3101 4.56883 6.42998 4.44459 6.57812 4.44459H11.4023C11.5505 4.44459 11.6703 4.56883 11.6703 4.72237V8.06085Z" fill="#262626"/>
                        </g>
                    </svg>
                    {{ product.metafields.custom.fuel }}
                </div>
                {% endif %}
                {% if product.metafields.custom.year != blank %}
                <div class="pc__info-item" title="Рік випуску">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <mask id="mask0_491_386" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="3" width="13" height="14">
                            <path d="M16.026 3.3335H4.35938V16.6668H16.026V3.3335Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_491_386)">
                            <path d="M4.72266 7.03519C4.72266 6.21699 5.37557 5.55371 6.18099 5.55371H14.2018C15.0072 5.55371 15.6602 6.21699 15.6602 7.03519V10.3685H4.72266V7.03519Z" fill="#262626"/>
                            <path d="M14.2018 5.99951H6.18099C5.6172 5.99951 5.16016 6.46381 5.16016 7.03654V15.1847C5.16016 15.7574 5.6172 16.2217 6.18099 16.2217H14.2018C14.7656 16.2217 15.2226 15.7574 15.2226 15.1847V7.03654C15.2226 6.46381 14.7656 5.99951 14.2018 5.99951Z" stroke="#262626"/>
                            <path d="M13.0365 4.51711C13.0365 4.10801 12.71 3.77637 12.3073 3.77637C11.9045 3.77637 11.5781 4.10801 11.5781 4.51711V6.59118C11.5781 7.00028 11.9045 7.33193 12.3073 7.33193C12.71 7.33193 13.0365 7.00028 13.0365 6.59118V4.51711Z" fill="#262626" stroke="white" stroke-width="0.666667"/>
                            <path d="M8.80599 4.51711C8.80599 4.10801 8.47953 3.77637 8.07682 3.77637C7.67411 3.77637 7.34766 4.10801 7.34766 4.51711V6.59118C7.34766 7.00028 7.67411 7.33193 8.07682 7.33193C8.47953 7.33193 8.80599 7.00028 8.80599 6.59118V4.51711Z" fill="#262626" stroke="white" stroke-width="0.666667"/>
                        </g>
                    </svg>
                    {{ product.metafields.custom.year }}
                </div>
                {% endif %}
                {% if product.metafields.custom.engine != blank %}
                <div class="pc__info-item" title="Об'єм двигуна">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M16.6673 9.16667V12.5C16.6673 12.6105 16.6234 12.7165 16.5453 12.7947C16.4672 12.8727 16.3612 12.9167 16.2507 12.9167C16.1402 12.9167 16.0342 12.8727 15.956 12.7947C15.8779 12.7165 15.834 12.6105 15.834 12.5V11.25H15.0007V12.0833C15.0007 12.3043 14.9128 12.5163 14.7566 12.6726C14.6003 12.8288 14.3883 12.9167 14.1673 12.9167H13.5064L11.6673 14.7557C11.5902 14.8334 11.4984 14.8951 11.3973 14.937C11.2962 14.9789 11.1877 15.0003 11.0782 15H7.67304C7.56357 15.0003 7.45512 14.9789 7.35399 14.937C7.25287 14.8951 7.16108 14.8334 7.08398 14.7557L5.24492 12.9167C5.1672 12.8396 5.10558 12.7477 5.06365 12.6467C5.02172 12.5455 5.0003 12.4371 5.00065 12.3276V11.25H4.16732V12.5C4.16732 12.6105 4.12342 12.7165 4.04528 12.7947C3.96714 12.8727 3.86116 12.9167 3.75065 12.9167C3.64014 12.9167 3.53416 12.8727 3.45603 12.7947C3.37788 12.7165 3.33398 12.6105 3.33398 12.5V9.16667C3.33398 9.05617 3.37788 8.95017 3.45603 8.872C3.53416 8.79392 3.64014 8.75 3.75065 8.75C3.86116 8.75 3.96714 8.79392 4.04528 8.872C4.12342 8.95017 4.16732 9.05617 4.16732 9.16667V10.4167H5.00065V7.5C5.00065 7.27898 5.08845 7.06702 5.24473 6.91074C5.40101 6.75447 5.61297 6.66667 5.83398 6.66667H9.16732V5.83333H7.91732C7.80681 5.83333 7.70083 5.78943 7.62269 5.71129C7.54455 5.63316 7.50065 5.52718 7.50065 5.41667C7.50065 5.30616 7.54455 5.20018 7.62269 5.12204C7.70083 5.0439 7.80681 5 7.91732 5H11.2507C11.3612 5 11.4672 5.0439 11.5453 5.12204C11.6234 5.20018 11.6673 5.30616 11.6673 5.41667C11.6673 5.52718 11.6234 5.63316 11.5453 5.71129C11.4672 5.78943 11.3612 5.83333 11.2507 5.83333H10.0007V6.66667H11.0782C11.1877 6.66632 11.2962 6.68773 11.3973 6.72967C11.4984 6.7716 11.5902 6.83322 11.6673 6.91094L13.5064 8.75H14.1673C14.3883 8.75 14.6003 8.83783 14.7566 8.99408C14.9128 9.15033 15.0007 9.36233 15.0007 9.58333V10.4167H15.834V9.16667C15.834 9.05617 15.8779 8.95017 15.956 8.872C16.0342 8.79392 16.1402 8.75 16.2507 8.75C16.3612 8.75 16.4672 8.79392 16.5453 8.872C16.6234 8.95017 16.6673 9.05617 16.6673 9.16667Z" fill="#262626"/>
                        <mask id="mask0_491_367" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="6" y="8" width="6" height="6">
                            <path d="M11.666 8.3335H6.66602V13.3335H11.666V8.3335Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_491_367)">
                            <path opacity="0.987" fill-rule="evenodd" clip-rule="evenodd" d="M9.5421 8.32715C9.58118 8.32715 9.62026 8.32715 9.65935 8.32715C9.74018 8.37191 9.76785 8.44024 9.74235 8.53224C9.59918 9.10174 9.45751 9.67141 9.31751 10.2412C9.72443 10.2396 10.1313 10.2412 10.5383 10.2461C10.6204 10.2886 10.6481 10.3552 10.6213 10.4463C10.028 11.3952 9.43226 12.3425 8.8341 13.2881C8.81443 13.2997 8.79651 13.3128 8.78043 13.3272C8.74135 13.3272 8.70226 13.3272 8.66326 13.3272C8.58235 13.2824 8.55476 13.2141 8.58018 13.1221C8.72343 12.5526 8.86501 11.9829 9.00501 11.4131C8.5981 11.4147 8.19121 11.4131 7.78432 11.4082C7.70215 11.3657 7.67448 11.299 7.70131 11.208C8.29457 10.2591 8.89026 9.31182 9.48843 8.36624C9.5081 8.35449 9.52601 8.34149 9.5421 8.32715Z" fill="white"/>
                        </g>
                        </svg>
                    {{ product.metafields.custom.engine }}
                </div>
                {% endif %}
                {% if product.metafields.custom.gearbox != blank %}
                <div class="pc__info-item" title="Коробка передач">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <mask id="mask0_491_399" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="3" width="12" height="14">
                            <path d="M15.8327 3.3335H4.16602V16.6668H15.8327V3.3335Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_491_399)">
                            <path d="M5.80664 7.22347C6.71273 7.22347 7.44727 6.47728 7.44727 5.5568C7.44727 4.63633 6.71273 3.89014 5.80664 3.89014C4.90055 3.89014 4.16602 4.63633 4.16602 5.5568C4.16602 6.47728 4.90055 7.22347 5.80664 7.22347Z" fill="#262626"/>
                            <path d="M5.80664 16.1102C6.71273 16.1102 7.44727 15.364 7.44727 14.4435C7.44727 13.5231 6.71273 12.7769 5.80664 12.7769C4.90055 12.7769 4.16602 13.5231 4.16602 14.4435C4.16602 15.364 4.90055 16.1102 5.80664 16.1102Z" fill="#262626"/>
                            <path d="M10 7.22347C10.9061 7.22347 11.6407 6.47728 11.6407 5.5568C11.6407 4.63633 10.9061 3.89014 10 3.89014C9.09396 3.89014 8.35938 4.63633 8.35938 5.5568C8.35938 6.47728 9.09396 7.22347 10 7.22347Z" fill="#262626"/>
                            <path d="M10.1817 16.1102C11.0878 16.1102 11.8223 15.364 11.8223 14.4435C11.8223 13.5231 11.0878 12.7769 10.1817 12.7769C9.27552 12.7769 8.54102 13.5231 8.54102 14.4435C8.54102 15.364 9.27552 16.1102 10.1817 16.1102Z" fill="#262626"/>
                            <path d="M14.1933 7.22347C15.0995 7.22347 15.834 6.47728 15.834 5.5568C15.834 4.63633 15.0995 3.89014 14.1933 3.89014C13.2872 3.89014 12.5527 4.63633 12.5527 5.5568C12.5527 6.47728 13.2872 7.22347 14.1933 7.22347Z" fill="#262626"/>
                            <path d="M5.80664 5.55664V14.4455" stroke="#262626" stroke-width="0.833333"/>
                            <path d="M10 5.55664V14.4455" stroke="#262626" stroke-width="0.833333"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M14.558 10.0011C14.558 10.2057 14.3947 10.3714 14.1933 10.3714H5.44336V9.63075H13.8288V5.55664H14.558V9.63075V10.0011Z" fill="#262626"/>
                        </g>
                        </svg>
                    {{ product.metafields.custom.gearbox }}
                </div>
                {% endif %}
                {% if product.metafields.custom.mileage != blank %}
                <div class="pc__info-item" title="Пробіг">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M7.22181 5.28434C7.33317 5.00087 7.60669 4.81445 7.91125 4.81445H12.0868C12.3913 4.81445 12.6648 5.00087 12.7762 5.28434L16.2683 14.1732C16.4592 14.6592 16.1009 15.1848 15.5788 15.1848H4.41919C3.89709 15.1848 3.53884 14.6592 3.72974 14.1732L7.22181 5.28434Z" fill="#262626"/>
                        <path d="M9.42486 4.81445H10.5771L11.4824 15.1848H8.51953L9.42486 4.81445Z" fill="white"/>
                        <path d="M11.4824 11.1099H8.51953V12.9618H11.4824V11.1099Z" fill="#262626"/>
                        <path d="M11.4824 7.0376H8.51953V8.88942H11.4824V7.0376Z" fill="#262626"/>
                        </svg>
                    {{ product.metafields.custom.mileage }}
                </div>
                {% endif %}
                {% if product.metafields.custom.drive != blank %}
                <div class="pc__info-item" title="Привід">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <mask id="mask0_491_416" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="3" width="12" height="14">
                            <path d="M15.8327 3.3335H4.16602V16.6668H15.8327V3.3335Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_491_416)">
                            <path d="M10 5.55664V14.4455" stroke="#262626"/>
                            <path d="M6.35352 14.4434H13.6452" stroke="#262626"/>
                            <path d="M6.35352 5.55664H13.6452" stroke="#262626"/>
                            <path d="M10 6.66558C10.6041 6.66558 11.0938 6.16812 11.0938 5.55447C11.0938 4.94082 10.6041 4.44336 10 4.44336C9.39592 4.44336 8.90625 4.94082 8.90625 5.55447C8.90625 6.16812 9.39592 6.66558 10 6.66558Z" fill="#262626"/>
                            <path d="M14.7389 3.3335H13.6452C13.2425 3.3335 12.916 3.66514 12.916 4.07424V7.0372C12.916 7.4463 13.2425 7.77794 13.6452 7.77794H14.7389C15.1416 7.77794 15.4681 7.4463 15.4681 7.0372V4.07424C15.4681 3.66514 15.1416 3.3335 14.7389 3.3335Z" fill="#262626"/>
                            <path d="M14.7389 12.2236H13.6452C13.2425 12.2236 12.916 12.5552 12.916 12.9644V15.9273C12.916 16.3364 13.2425 16.668 13.6452 16.668H14.7389C15.1416 16.668 15.4681 16.3364 15.4681 15.9273V12.9644C15.4681 12.5552 15.1416 12.2236 14.7389 12.2236Z" fill="#262626"/>
                            <path d="M6.35417 3.3335H5.26042C4.85771 3.3335 4.53125 3.66514 4.53125 4.07424V7.0372C4.53125 7.4463 4.85771 7.77794 5.26042 7.77794H6.35417C6.75688 7.77794 7.08333 7.4463 7.08333 7.0372V4.07424C7.08333 3.66514 6.75688 3.3335 6.35417 3.3335Z" fill="#262626"/>
                            <path d="M6.35417 12.2236H5.26042C4.85771 12.2236 4.53125 12.5552 4.53125 12.9644V15.9273C4.53125 16.3364 4.85771 16.668 5.26042 16.668H6.35417C6.75688 16.668 7.08333 16.3364 7.08333 15.9273V12.9644C7.08333 12.5552 6.75688 12.2236 6.35417 12.2236Z" fill="#262626"/>
                        </g>
                        </svg>
                    {{ product.metafields.custom.drive }}
                </div>
                {% endif %}
            </div>
    </div>
    <div class="xc-product__info-description">
        {{ product.description }}
    </div>
    <div class="xc-product__info-buttons">
        <button  class="btn btn--primary btn--small"  aria-haspopup="dialog"  on:click="#form-modal/showDialog">{{ section.settings.cta_label }}</button>
            <span > <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M16.4833 6.01655C16.7274 6.26063 16.7274 6.65636 16.4833 6.90044L8.56662 14.8171C8.32254 15.0612 7.92681 15.0612 7.68273 14.8171L3.51607 10.6504C3.27199 10.4064 3.27199 10.0106 3.51607 9.76655C3.76014 9.52248 4.15587 9.52248 4.39995 9.76655L8.12467 13.4913L15.5994 6.01655C15.8435 5.77248 16.2392 5.77248 16.4833 6.01655Z" fill="#262626"/>
            </svg>{{ section.settings.guarantee_label }}</span>
    </div>
</div>




<dialog-component
    id="form-modal"
    class="search-modal "
    {{ block.shopify_attributes }}
    >
    <dialog
        ref="dialog"
        on:click="/closeDialogOnClickOutside"
        on:keydown="/closeDialogOnEscapePress"
        class="search-modal__content dialog-modal form-modal"
        scroll-lock
        aria-labelledby="search-modal-heading"
    >
    <div class="form-modal__wrapper">
        <div class="form-modal__product">
            <div class="form-modal__product-top">
                {{ product.title }}
                 <button
                    type="button"
                    class="button predictive-search__close-modal-button"
                    aria-label="{{ 'accessibility.close_dialog' | t }}"
                    on:click="dialog-component/closeDialog"
                    ref="closeModalButton"
                >
                    <span class="svg-wrapper">
                    {{ 'icon-close.svg' | inline_asset_content }}
                    </span>
                </button>
            </div>
            <div class="form-modal__product-info">
                <div class="form-modal__product-image">
                    <img src="{{ product.featured_image | image_url: width: 100 }}" alt="{{ product.title }}" width="64" height="64">
                </div>
                <div class="form-modal__product-info-text">
                    <div class="form-modal__product-info-text-title">
                       {{ product.price | money_without_trailing_zeros }}
                    </div>
                    {% if product.metafields.custom.vin != blank %}
                        <span class="xc-product__info-price-vin"><span>VIN:</span> {{product.metafields.custom.vin}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="form-modal__form">
            Form would be here
        </div>
        <a href="tel:{{ section.settings.phone_number }}" class="form-modal__phone">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.6927 10.388C10.3836 10.6971 9.90969 10.7696 9.52236 10.5672C8.65669 10.1148 7.86092 9.53184 7.16445 8.83537C6.46796 8.13888 5.88505 7.34309 5.43264 6.47744C5.23021 6.0901 5.30276 5.61618 5.61179 5.30714L6.50406 4.41488L5.97348 3H3.33315C3.23704 3 3.16109 3.03891 3.11591 3.08567C3.0754 3.1276 3.0621 3.17 3.06765 3.21972C3.1821 4.24552 3.44059 5.25217 3.83714 6.20952C4.38994 7.5441 5.2002 8.75673 6.22164 9.77818C7.24309 10.7996 8.45571 11.6099 9.79028 12.1627C10.7476 12.5592 11.7543 12.8177 12.7801 12.9322C12.8298 12.9377 12.8722 12.9244 12.9141 12.8839C12.9609 12.8387 12.9998 12.7628 12.9998 12.6667V10.0264L11.5849 9.49578L10.6927 10.388ZM9.98555 9.68094L10.9537 8.71278C11.1848 8.48171 11.5296 8.40702 11.8356 8.52177L13.4591 9.13058C13.7843 9.25255 13.9998 9.56349 13.9998 9.91086V12.6667C13.9998 13.4031 13.401 14.0077 12.6692 13.926C11.5501 13.8012 10.452 13.5192 9.40759 13.0866C7.95169 12.4835 6.62884 11.5996 5.51453 10.4853C4.40023 9.37098 3.51632 8.04811 2.91326 6.5922C2.48067 5.54782 2.19867 4.44966 2.07381 3.3306C1.99216 2.59876 2.59677 2 3.33315 2H6.08898C6.43635 2 6.74729 2.21548 6.86926 2.54073L7.47807 4.16424C7.59281 4.47022 7.51813 4.81502 7.28705 5.0461L6.3189 6.01425C6.72453 6.79038 7.24713 7.50384 7.87155 8.12826C8.49598 8.75268 9.20942 9.27531 9.98555 9.68094Z" fill="#000B02"/>
                </svg>
            <span>{{ section.settings.phone_label }}</span>
        </a>
        </div>
    </dialog>
</dialog-component>