{{ 'xc-reviews.css' | asset_url | stylesheet_tag }}
<div class="section section--page-width">
    <div class="reviews__content">
        
        <div class="reviews__left">
            <div class="swiper reviews-swiper" data-swiper="reviews-{{ section.id }}">
                <div class="swiper-wrapper">
                    {% for block in section.blocks %}
                        <div class="swiper-slide">
                            <div class="reviews__item">
                                <div class="reviews__item-image">
                                    {% if block.settings.image %}
                                        {{ block.settings.image | image_url: width: 800 | image_tag: class: 'reviews__item-image-img', alt: block.settings.title, loading: 'lazy' }}
                                    {% endif %}
                                </div>
                                <div class="reviews__item-info">
                                    {% if block.settings.avatar %}
                                        <div class="reviews__item-avatar">
                                            {{ block.settings.avatar | image_url: width: 100 | image_tag: class: 'reviews__item-avatar-img', alt: block.settings.title, loading: 'lazy' }}
                                        </div>
                                    {% endif %}
                                    <div class="reviews__item-top">
                                        <a href="{{block.settings.url }}" target="_blank" title="{{ block.settings.title }}" class="reviews__item-name">
                                            <span>{{ block.settings.title }}</span>
                                            <img src="{{ 'logoFacebook.png' | asset_url }}" alt="{{ block.settings.title }}" class="reviews__item-name-img" width="18" height="18">
                                        </a>
                                        <div class="reviews__item-rating">
                                            {% for i in (1..block.settings.rating) %}
                                                
                                                   {%- render 'icon', icon: 'star2' -%}
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="reviews__item-bottom">
                                        {{ block.settings.description }}
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-main-pagination">
                    <button class="swiper-btn swiper-btn--prev circle-btn" type="button" aria-label="Попередній слайд">
                        {%- render 'icon', icon: 'chevron-left' -%}
                    </button>
                    <div class="swiper-pagination"></div>
                    <button class="swiper-btn swiper-btn--next circle-btn" type="button" aria-label="Наступний слайд">
                        {%- render 'icon', icon: 'chevron-right' -%}
                    </button>
                </div>
            </div>
        </div>
        <div class="reviews__right">
            {% if section.settings.title != blank %}
                <h2 class="reviews__title h3">{{ section.settings.title }}</h2>
            {% endif %}
            {% if section.settings.description != blank %}
                <div class="reviews__description">{{ section.settings.description }}</div>
            {% endif %}
            {% if section.settings.button_text != blank %}
           <button aria-haspopup="dialog"  on:click="#review/showDialog" aria-label="{{ section.settings.button_text }}" class="reviews__button btn--primary btn">{{ section.settings.button_text }}</button>
            {% endif %}
        </div>
    </div>
</div>

<dialog-component
    id="review"
    class="search-modal "
    {{ section.shopify_attributes }}
    >
    <dialog
        ref="dialog"
        on:click="/closeDialogOnClickOutside"
        on:keydown="/closeDialogOnEscapePress"
        class="search-modal__content dialog-modal form-modal"
        scroll-lock
        aria-labelledby="search-modal-heading"
    >
    <div class="form-modal__wrapper">
       
        <div class="form-modal__product-top">
              Залишити відгук
                <button
                type="button"
                class="button predictive-search__close-modal-button"
                aria-label="{{ 'accessibility.close_dialog' | t }}"
                on:click="dialog-component/closeDialog"
                ref="closeModalButton"
            >
                <span class="svg-wrapper">
                {{ 'icon-close.svg' | inline_asset_content }}
                </span>
            </button>
        </div>
            
        <div class="form-modal__form">
           {% capture submit_button %}
               <button class="btn btn--primary" aria-label="Надіслати" type="button" style="width: 100%">Надіслати</button>
            {% endcapture %}
           {% render 'contact-form', submit_button: submit_button %}
            
            
        </div>
        
        </div>
    </dialog>
</dialog-component>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        new Swiper('.reviews-swiper', {
            slidesPerView: 1,
            spaceBetween: 20,
            pagination: {
                el: '.reviews-swiper .swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            loop: true,
            navigation: {
                nextEl: '.reviews-swiper .swiper-btn--next',
                prevEl: '.reviews-swiper .swiper-btn--prev',
            }
        });
    });
</script>
{% schema %}
    {
        "name": "XC Reviews",
        "class": "reviews padding-section",
        "tag": "section",
        "settings": [
            {
              "type": "header",
              "content": "main content"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title",
              "default": "Відгуки тих, хто вже оновив своє авто"
            },
            {
              "type": "textarea",
              "id": "description",
              "label": "Description",
              "default": "Ми допомагаємо кожному клієнту знайти ідеальне авто без стресу, ризиків і зайвих переплат. Сотні задоволених власників уже насолоджуються своїми машинами, отриманими з нашою допомогою. Ти можеш стати наступним!<br>Обери комфорт, надійність і чесний сервіс — довір свій вибір професіоналам."
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button Text",
              "default": "Залишити відгук"
            },
            {
              "type": "url",
              "id": "button_url",
              "label": "Button URL"
            },
            {
              "type": "text",
              "id": "form_label",
              "label": "Form Label",
              "default": "Відгуки"
            }
        ],
        "blocks": [
            {
                "type": "review",
                "name": "Review",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Name"
                    },
                    {
                      "type": "image_picker",
                      "id": "avatar",
                      "label": "Avatar"
                    },
                    {
                        "type": "text",
                        "id": "description",
                        "label": "Description",
                        "default": "Review"
                    },
                    {
                      "type": "image_picker",
                      "id": "image",
                      "label": "Image"
                    },
                    {
                      "type": "url",
                      "id": "url",
                      "label": "link"
                    },
                    {
                      "type": "select",
                      "id": "rating",
                      "label": "Rating",
                      "options": [
                        {
                          "value": "1",
                          "label": "1"
                        },
                        {
                          "value": "2",
                          "label": "2"
                        },
                        {
                          "value": "3",
                          "label": "3"
                        },
                        {
                          "value": "4",
                          "label": "4"
                        },
                        {
                          "value": "5",
                          "label": "5"
                        }
                      ],
                      "default": "5"
                    }
                    
                ]
            }
        ],
        "presets": [
            {
                "name": "XC Reviews"
            }
        ]
    }
{% endschema %}

